.container {
  width: 260px;
  height: 220px;

  display: flex;
  flex-direction: column;

  border-radius: 12px;
  overflow: hidden;

  background-color: #f3f3f4;
  transition: 0.25s ease;

    text-align: center;

  &:hover {
    transform: translateY(-4px);
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
}

.img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.name {
    justify-self: center;
}
